# compiled output
/dist
/build
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# package file
package-lock.json

/environment/aws-credentials
/libs/config/gitInfo.ts
/environment/mdc-secrets
/environment/mdc-secrets-v5
/libs/cert


# k8s
k8s/apps/mdc-redis.yml
k8s/apps/mdc-gateway.yml
k8s/apps/mdc-workflow.yml
k8s/apps/mdc-filescan.yml
k8s/apps/mdc-security.yml


# Redis
/redis

# package-lock
package-lock.json

# Git hook
.husky
